<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Registration Page</title>
	<style type="text/css">
		.success {
			font-style: italic;
			color: green;
			padding-bottom: 8px; 
		}
		.failure {
			font-style: oblique;
			color: red;
			padding-bottom: 8px;
		}
	</style>
</head>
<body>
	<div>
		<h2>New User Registration</h2>
	</div>
	<form th:action="@{/register}" action="#" th:objects="${user}" method="post">
		<div th:if="${confirmationMessage}" class="success" role="alert" th:text="${confirmationMessage}">
		</div>
		<div th:if="${alreadyRegisteredMessage}" class="failure" role="alert" th:text="${alreadyRegisteredMessage}">
		</div>
		
		<div>
			<input type="text" th:field="*{user.name}" placeholder="Name" class="form-control" required="required" /> 
		</div>
		<div>
			<input type="email" th:field="*{user.email}" placeholder="Email" class="form-control" 
				data-error="This email is invalid" required="required" /> 
		</div>
		
		<button type="submit">Register</button>
	</form>
</body>
</html>